{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    {% if artist.banner %}
        <img class='img-fluid w-100' src="{{ artist.banner.url }}" alt="{{ artist.name }} Banner" />
    {% endif %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if artist.image %}
                        <a href="{{ artist.image.url }}" target="_blank" rel="external">
                            <img class="card-img-top img-fluid img-round" src="{{ artist.image.url }}" alt="{{ artist.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ artist.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="artwork-details-container mb-5 mt-md-5">
                    <br>
                    <h2 class="text-uppercase">{{ artist.full_name }}</h2>
                    <h5 class="text-uppercase">About the artist
                    {% if request.user.is_superuser %}
                            | &nbsp; <a href="{% url 'edit_artist' artist.id %}">Edit</a>
                    {% endif %}
                    </h5>
                    <p class="mt-3" style="text-align: justify;">{{ artist.description }}</p>
                    {% if artist.location %}
                        <p class="mt-3">
                            <span class="icon">
                                <i class="fa fa-map-marker"></i>
                            </span> <strong>{{ artist.location }}</strong></p>
                    {% endif %}
                    {% if artist.facebook_url %}
                        <p class="mt-3">
                            <span class="icon">
                                <i class="fa fa-facebook"></i>
                            </span> <a href="{{ artist.facebook_url }}" target="_blank" rel="external">{{ artist.facebook_url }}</a></p> 
                    {% endif %}
                    {% if artist.twitter_url %}
                        <p class="mt-3">
                            <span class="icon">
                                <i class="fa fa-twitter"></i>
                            </span> <a href="{{ artist.twitter_url }}" target="_blank" rel="external">{{ artist.twitter_url }}</a></p>
                    {% endif %}
                    {% if artist.insta_url %}
                        <p class="mt-3">
                            <span class="icon">
                                <i class="fa fa-instagram"></i>
                            </span> <a href="{{ artist.insta_url }}" target="_blank" rel="external">{{ artist.insta_url }}</a></p>
                    {% endif %}
                    {% if artist.deviant_url %}
                        <p class="mt-3">
                            <span class="icon">
                                <i class="fa fa-deviantart"></i>
                            </span> <a href="{{ artist.deviant_url }}" target="_blank" rel="external">{{ artist.deviant_url }}</a></p> 
                    {% endif %}
                    {% if artist.pin_url %}
                        <p class="mt-3">
                            <span class="icon">
                                <i class="fa fa-pinterest"></i>
                            </span> <a href="{{ artist.pin_url }}" target="_blank" rel="external">{{ artist.pin_url }}</a></p> 
                    {% endif %}
                    {% if artist.etsy_url %}
                        <p class="mt-3">
                            <span class="icon">
                                <i class="fa fa-etsy"></i>
                            </span> <a href="{{ artist.etsy_url }}" target="_blank" rel="external">{{ artist.etsy_url }}</a></p>  
                    {% endif %}                
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}