<!-- Footer -->
<footer class="bg-black footer py-3 mt-auto fixed-bottom">
    <div class="container quotes-container content-container bg-black">
          <div class="row">
             <div class="col-12 col-md-1 my-auto">
                <a href="https://www.facebook.com/galleryofdreamsshop" target="_blank"><i class="fab fa-facebook-square bg-black" style="font-size: 3em;"></i></a>
             </div>
             <div class="col-12 col-md-1 my-auto">
                <a href="https://www.privacypolicygenerator.info/live.php?token=YhSHfAX6yiL35vH43fW1RlwYNXrlZZ0r" target="_blank"><i class="fas fa-user-shield bg-black" style="font-size: 3em;"></i></a>
             </div>
             <div class="col-12 col-md-10 my-auto">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                   <form action="https://herokuapp.us17.list-manage.com/subscribe/post?u=dd35db4cc79c426146aad621a&amp;id=27c7c364bb&amp;f_id=008755e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                         <div class="mc-field-group">
                            <input type="email" id="subscribe_email" name="EMAIL" class="required email border border-black rounded-0" required placeholder="Your email address">
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dd35db4cc79c426146aad621a_27c7c364bb" tabindex="-1" value=""></div>
                            <input type="submit" id="subscribe_submit" value="Get our newsletter" name="subscribe" class="btn btn-lg rounded-0 text-uppercase">
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                             </div>
                         </div>     
                      </div>         
                   </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
             </div>
          </div>
    </div>
 </footer>
 <!-- /.footer -->