<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-artworks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artwork
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-artworks-link">
                <a href="{% url 'artworks' %}?sort=canvas__price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'designs' %}" class="dropdown-item ">By Design</a>
                <a href="{% url 'canvasses' %}" class="dropdown-item ">By Canvas</a>
                <a href="{% url 'artworks' %}" class="dropdown-item">All Artworks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="designs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="designs-link">
                <a href="{% url 'artworks' %}?design=tree" class="dropdown-item">The Tree</a>
                <a href="{% url 'artworks' %}?design=farewell" class="dropdown-item">Farewell</a>
                <a href="{% url 'artworks' %}?design=lords" class="dropdown-item">Elven Lords</a>
                <a href="{% url 'artworks' %}?design=princess" class="dropdown-item">The Princess</a>
                <a href="{% url 'artworks' %}?design=city" class="dropdown-item">City of the Elves</a>
                <a href="{% url 'artworks' %}?design=twins" class="dropdown-item">Twins</a>
                <a href="{% url 'artworks' %}" class="dropdown-item">All Designs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="canvasses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Canvas
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="canvasses-link">
                <a href="{% url 'artworks' %}?canvas=print" class="dropdown-item">Prints</a>
                <a href="{% url 'artworks' %}?canvas=notebook" class="dropdown-item">Notebooks</a>
                <a href="{% url 'artworks' %}?canvas=pillow" class="dropdown-item">Pillows</a>
                <a href="{% url 'artworks' %}?canvas=bag" class="dropdown-item">Bags</a>
                <a href="{% url 'artworks' %}?canvas=mug" class="dropdown-item">Mugs</a>
                <a href="{% url 'artworks' %}?canvas=coasters" class="dropdown-item">Coasters</a>
                <a href="{% url 'artworks' %}" class="dropdown-item">All Canvasses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="artist-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artist
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artist-link">
                <a href="" class="dropdown-item">Janka L</a>
            </div>
        </li>

    </ul>
</div>