<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">The Tree</a>
                <a href="" class="dropdown-item ">Farewell</a>
                <a href="" class="dropdown-item ">Elven Lords</a>
                <a href="" class="dropdown-item ">The Princess</a>
                <a href="" class="dropdown-item ">City of the Elves</a>
                <a href="" class="dropdown-item ">Twins</a>
                <a href="" class="dropdown-item">All Designs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Canvas
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Prints</a>
                <a href="" class="dropdown-item">Notebooks</a>
                <a href="" class="dropdown-item">Cushions</a>
                <a href="" class="dropdown-item">Bags</a>
                <a href="" class="dropdown-item">Mugs</a>
                <a href="" class="dropdown-item">Coasters</a>
                <a href="" class="dropdown-item">All Canvasses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artist
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Janka Latečková</a>
            </div>
        </li>

    </ul>
</div>